
#rice-style{
    font-size: 1000px;
    color:blue;
    background-color:yellow
}


#parent {
    display: table;
    width: 100%;
 }
 #form_login {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }





 #helloid{
    color:red;
    background-color:green;

 }